body {
  font-family: "Open Sans", "Hiragino Sans", sans-serif;
  font-weight: 200;
  font-size: 15px;
}

.hljs {
  font-family: "Source Code Pro", monospace;
}

h1 {
  font-size: 39.269px;
  letter-spacing: -0.5px;
  font-weight: 400;
}