body {
  font-family: "Open Sans", "Hiragino Sans", sans-serif;
  font-weight: 200;
}

.hljs {
  font-family: "Source Code Pro", monospace;
}

h1 {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 200;
}